
Host/.vs/Host/DesignTimeBuild/.dtbcache.v2
*.vsidx
*.lock
*.v2
Host/.vs/Host/v17/.suo
Host/.vs/ProjectEvaluation/host.metadata.v5
*.v5
*.cache
Host/HomeWork3/bin/Debug/net6.0/HomeWork3.dll
Host/HomeWork3/bin/Debug/net6.0/HomeWork3.exe
Host/HomeWork3/bin/Debug/net6.0/Lang.dll
Host/HomeWork3/bin/Debug/net6.0/HomeWork3.pdb
Host/HomeWork3/bin/Debug/net6.0/Lang.pdb
Host/HomeWork3/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Host/HomeWork3/obj/Debug/net6.0/apphost.exe
Host/HomeWork3/obj/Debug/net6.0/HomeWork3.AssemblyInfo.cs
Host/HomeWork3/obj/Debug/net6.0/HomeWork3.csproj.BuildWithSkipAnalyzers
Host/HomeWork3/obj/Debug/net6.0/HomeWork3.csproj.CopyComplete
Host/HomeWork3/obj/Debug/net6.0/HomeWork3.csproj.FileListAbsolute.txt
Host/HomeWork3/obj/Debug/net6.0/HomeWork3.dll
Host/HomeWork3/obj/Debug/net6.0/HomeWork3.GeneratedMSBuildEditorConfig.editorconfig
Host/HomeWork3/obj/Debug/net6.0/HomeWork3.pdb
Host/HomeWork3/obj/Debug/net6.0/HomeWork3.GlobalUsings.g.cs
Host/HomeWork3/obj/Debug/net6.0/refint/HomeWork3.dll
Host/HomeWork3/obj/Debug/net6.0/ref/HomeWork3.dll
Host/HomeWork3/obj/HomeWork3.csproj.nuget.g.props
Host/HomeWork3/obj/HomeWork3.csproj.nuget.dgspec.json
Host/HomeWork3/obj/HomeWork3.csproj.nuget.g.targets
Host/HomeWork3/obj/project.assets.json
Host/Lang/bin/Debug/netstandard2.1/Lang.deps.json
Host/Lang/bin/Debug/netstandard2.1/Lang.dll
Host/Lang/bin/Debug/netstandard2.1/Lang.pdb
Host/Lang/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
Host/Lang/obj/Debug/netstandard2.1/Lang.AssemblyInfo.cs
Host/Lang/obj/Debug/netstandard2.1/Lang.csproj.BuildWithSkipAnalyzers
Host/Lang/obj/Debug/netstandard2.1/Lang.csproj.FileListAbsolute.txt
Host/Lang/obj/Debug/netstandard2.1/Lang.dll
Host/Lang/obj/Debug/netstandard2.1/Lang.GeneratedMSBuildEditorConfig.editorconfig
Host/Lang/obj/Debug/netstandard2.1/Lang.pdb
Host/Lang/obj/Lang.csproj.nuget.dgspec.json
Host/Lang/obj/Lang.csproj.nuget.g.props
Host/Lang/obj/Lang.csproj.nuget.g.targets
Host/Lang/obj/project.assets.json
Host/HomeWork3/bin/Debug/net6.0/HomeWork3.deps.json
Host/HomeWork3/bin/Debug/net6.0/HomeWork3.runtimeconfig.json
